
@-webkit-keyframes myAnim {
	0% {
		opacity: 0;
		        transform: translateX(-250px);
	}

	100% {
		opacity: 1;
		        transform: translateX(40px);
	}
}



@keyframes myAnim {
	0% {
		opacity: 0;
		        transform: translateX(-250px);
	}

	100% {
		opacity: 1;
		        transform: translateX(40px);
	}
}



/*PRODUCT*/

section {
  
    margin:auto;
    margin-bottom: 10em;

    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}

.box .left { 
    width: 15%;
    height: 100%;
    margin: 0;
    padding: 0;

    list-style-type: none;
    
    
    display: flex;
            flex-direction: column;
            align-items: center;
        justify-content: space-around;
    

}

.box .left li{
    background: linear-gradient(0deg, rgba(255,255,255,0.30) 0%, rgba(255,255,255,0.55) 100%);
    border-radius: 27px;
    
    cursor: pointer;

}

.box .left li :hover { 
    border: 1.5px solid  rgba(92, 86, 86, 0.20);
    border-radius: 27px;
}

.img { 
    width: 50%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
        justify-content: end;
        align-items: center;
    
    position: relative;
    left: 5%;
        

}

.img img {height: 80%}

.bottom {

    opacity: 45%;
    list-style-type: none;
    -webkit-padding-start: 0;
            padding-inline-start: 0;
    
    padding-inline-start: 0;
    
    margin: 1em;
    
    
    
    
    
    display: flex;
    

            justify-content: CENTER;
            align-items: center; 
    }   


    .bottom li {
    border: 1px solid rgba(92, 86, 86, 0.80);
    
    width: 1em;
    height: 1em;
    border-radius: 100px;
    margin: 3px;
    background-color: rgba(255, 255, 255, 1);
}


.bottom li:hover { 
    border: 1.5px solid  rgba(92, 86, 86, 0.75);
    border-radius: 22px;
}

.bottom li:focus-visible { 
    border: 1.5px solid  rgba(92, 86, 86, 0.75);
    background-color: white;
    border-radius: 22px;
}





.text h1, .text h2 ,.text .detail, .text .color{ margin: 0;}

.text{
    display: flex;
            flex-direction: column;

    width: 35%;
}

.text .nom { 
    text-align: start;
    font-size: 1.4em;
    margin-top: 2em;
}

.text .price { 
    font-family: 'd-din';
    font-weight: 100;
    font-size: 1.5em;

    color: rgba(0, 0, 0, 0.80);
    
}

.text .detail {
    margin: 5em 0;
    
    
    font-size: 0.6em;

    display: flex;
    
            justify-content: space-between;
}

.boite { 
    width: 32%;
    margin: 0;
    text-align: center;

    display: flex;
            flex-direction: column;
    

            justify-content: center;
}

.boite2 {
    width: 32%;
    margin: 0;
    border-left: 1.5px solid;
    border-right: 1.5px solid;

    text-align: center;

    display: flex;
            flex-direction: column;
    

            justify-content: center;
}

.boite h2, .boite2 h2 {
    
    margin: 0;
    font-weight: lighter;
    color:rgba(0, 0, 0, 0.75);
}

.color {
    
    
    display: flex;
    

            justify-content: center;
            align-items: center;
 } 
 
 .color2 {margin: 0.5em;}

.color1 { 

    height: 3.5em;
    width: 3.5em;
    
    border-radius: 22px;
    background-color: #1A94A3;
    cursor: pointer;
}  

.color2 { 
    
    height: 3.5em;
    width: 3.5em;
    
    border-radius: 22px;
    background-color: black;
    cursor: pointer;
}

.color div:hover { 
    border: 1.5px solid  rgba(92, 86, 86, 0.75);
    border-radius: 22px;
}



.product .cart{
    

width: 27%;
margin: auto;
}




