/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@-webkit-keyframes myAnim {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-250px);
		        transform: translateX(-250px);
	}

	100% {
		opacity: 1;
		-webkit-transform: translateX(40px);
		        transform: translateX(40px);
	}
}



@keyframes myAnim {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-250px);
		        transform: translateX(-250px);
	}

	100% {
		opacity: 1;
		-webkit-transform: translateX(40px);
		        transform: translateX(40px);
	}
}



/*PRODUCT*/

section {
    
    width: 90vw;
  
    margin:auto;
    margin-bottom: 10em;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    
}

.product { margin: 5em 0;}

.box {

    border-radius: 39px;
    height: 75vh;

    background-color: rgba(255, 255, 255, 0.40);
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 0px 1fr 0px 1fr 0px 1fr 0px 1fr 0px 1fr;
    grid-template-columns: repeat(6, 1fr);
    -ms-grid-rows: 1fr 0px 1fr 0px 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.box > *:nth-child(1) {
	-ms-grid-row: 1;
	-ms-grid-column: 1;
}

.box > *:nth-child(2) {
	-ms-grid-row: 1;
	-ms-grid-column: 3;
}

.box > *:nth-child(3) {
	-ms-grid-row: 1;
	-ms-grid-column: 5;
}

.box > *:nth-child(4) {
	-ms-grid-row: 1;
	-ms-grid-column: 7;
}

.box > *:nth-child(5) {
	-ms-grid-row: 1;
	-ms-grid-column: 9;
}

.box > *:nth-child(6) {
	-ms-grid-row: 1;
	-ms-grid-column: 11;
}

.box > *:nth-child(7) {
	-ms-grid-row: 3;
	-ms-grid-column: 1;
}

.box > *:nth-child(8) {
	-ms-grid-row: 3;
	-ms-grid-column: 3;
}

.box > *:nth-child(9) {
	-ms-grid-row: 3;
	-ms-grid-column: 5;
}

.box > *:nth-child(10) {
	-ms-grid-row: 3;
	-ms-grid-column: 7;
}

.box > *:nth-child(11) {
	-ms-grid-row: 3;
	-ms-grid-column: 9;
}

.box > *:nth-child(12) {
	-ms-grid-row: 3;
	-ms-grid-column: 11;
}

.box > *:nth-child(13) {
	-ms-grid-row: 5;
	-ms-grid-column: 1;
}

.box > *:nth-child(14) {
	-ms-grid-row: 5;
	-ms-grid-column: 3;
}

.box > *:nth-child(15) {
	-ms-grid-row: 5;
	-ms-grid-column: 5;
}

.box > *:nth-child(16) {
	-ms-grid-row: 5;
	-ms-grid-column: 7;
}

.box > *:nth-child(17) {
	-ms-grid-row: 5;
	-ms-grid-column: 9;
}

.box > *:nth-child(18) {
	-ms-grid-row: 5;
	-ms-grid-column: 11;
}

.left { -ms-grid-row: 1; -ms-grid-row-span: 2; -ms-grid-column: 1; -ms-grid-column-span: 1; grid-area: 1 / 1 / 3 / 2; }
.img { -ms-grid-row: 1; -ms-grid-row-span: 2; -ms-grid-column: 2; -ms-grid-column-span: 3; grid-area: 1 / 2 / 3 / 5; }
.text { -ms-grid-row: 1; -ms-grid-row-span: 2; -ms-grid-column: 5; -ms-grid-column-span: 2; grid-area: 1 / 5 / 3 / 7; }
.bottom { -ms-grid-row: 3; -ms-grid-row-span: 1; -ms-grid-column: 1; -ms-grid-column-span: 6; grid-area: 3 / 1 / 4 / 7; }

.box .left {
    width: 15vw;
    height: 75vh;
    margin: 0;
    padding: 0;

    list-style-type: none;
    
    display: -webkit-box;
    
    display: -ms-flexbox;
    
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    

}

.box .left li{

    background: -webkit-gradient(linear, left bottom, left top, from(rgba(255,255,255,0.30)), to(rgba(255,255,255,0.55)));

    background: -o-linear-gradient(bottom, rgba(255,255,255,0.30) 0%, rgba(255,255,255,0.55) 100%);

    background: linear-gradient(0deg, rgba(255,255,255,0.30) 0%, rgba(255,255,255,0.55) 100%);
    border-radius: 27px;
    
    
   

    cursor: pointer;

}

.box .left li :hover { 
    border: 1.5px solid  rgba(92, 86, 86, 0.20);
    border-radius: 27px;
}

.img { 

    margin: 3em 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

    position: relative;
    left: 4em;

}




.text h1, .text h2 ,.text .detail, .text .color{ margin: 0;}

.text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
   

}

.text .nom { 
    text-align: start;
    font-size: 1.4em;
    margin-top: 2em;
}

.text .price { 
    font-family: 'd-din';
    font-weight: 100;
    font-size: 1.5em;

    color: rgba(0, 0, 0, 0.80);
    
}

.text .detail {
    margin: 5em 0;
    
    
    font-size: 0.6em;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;


}

.boite {
    width: 32%;
    margin: 0;
    text-align: center;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.boite2 {
    width: 32%;
    margin: 0;
    border-left: 1.5px solid;
    border-right: 1.5px solid;

    text-align: center;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.boite h2, .boite2 h2 {
    
    margin: 0;
    font-weight: lighter;
    color:rgba(0, 0, 0, 0.75);
}

.color {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.color1 , .color2 {margin: 0.5em;}

.color1 { 

    height: 3.5em;
    width: 3.5em;
    
    border-radius: 22px;
    background-color: #1A94A3;
    cursor: pointer;
}  

.color2 { 
    
    height: 3.5em;
    width: 3.5em;
    
    border-radius: 22px;
    background-color: black;
    cursor: pointer;
}

.color div:hover { 
    border: 1.5px solid  rgba(92, 86, 86, 0.75);
    border-radius: 22px;
}



.product .cart{
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: auto;
    width: 30%
}



.bottom {

    opacity: 45%;
    list-style-type: none;
    -webkit-padding-start: 0;
            padding-inline-start: 0;
    
    padding-inline-start: 0;
    margin: 0;

    position: relative;
    bottom: 2em;
    
    display: -webkit-box;
    
    display: -ms-flexbox;
    
    display: flex;
    -webkit-box-pack: CENTER;
        -ms-flex-pack: CENTER;
            justify-content: CENTER;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.bottom li {
    border: 1px solid rgba(92, 86, 86, 0.80);
    
    width: 1em;
    height: 1em;
    border-radius: 100px;
    margin: 3px;
    background-color: rgba(255, 255, 255, 1);
}


.bottom li:hover { 
    border: 1.5px solid  rgba(92, 86, 86, 0.75);
    border-radius: 22px;
}

.bottom li:focus-visible { 
    border: 1.5px solid  rgba(92, 86, 86, 0.75);
    background-color: white;
    border-radius: 22px;
}


