
@font-face {
    font-family: 'din';
    src: url(../media/typo/DIN-Regular.ttf);
}

@font-face {
    font-family: 'd-din';
    src: url(../media/typo/D-DINCONDENSED.TTF);
}

body {

    width: 100%;
    min-width: 1000px;
    background-image: url(../media/back.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;

    color: black;
    font-family: 'din';
    font-weight: bold;
}

a { text-decoration: none; color: black; }


.button {
    font-weight: lighter;
   
}

.order {
    color: #1A94A3;
    background-color: #1A94A3;
    padding: 0.3em;

    position: relative;
    top:10px;
    
    border-radius: 21px;
            filter: blur(3px);
           


    
    
}

.order2 {
    position: relative;
    bottom:15px;
    
    color: white;
    text-align: center;

}


/* HEADER */

header {
    height: 15vh;     
}
header .container {

    height: 100%;
    display: flex;
            align-items: center;
            justify-content: space-around;
}

header a  {
    height: 100%;
}

header .logotypo { height: 100%;}

header ul { 
    padding: 0; 
    width: 40%;

    display: flex;    
    align-items: center;
    justify-content: space-between;
    
    list-style: none;  
}

header .tete:hover {
    text-decoration: underline ;
    text-decoration-thickness: 2px;
    text-underline-offset: 3.5px;

}

header .actions {
    width: 15%;
    display: flex;
        justify-content: space-evenly;
        align-items: center;
}


/* FOOTER */



footer .container {
    background-color: white;
    width: 100%;
    display: flex;
    
            align-items: center;
            justify-content: space-between;

        flex-wrap: wrap;
}

footer .first, footer .second, footer .foot {width: 100%;}

footer .first {
    display: flex;
            align-items: center;
            justify-content: space-evenly;

            flex-wrap: wrap;
}

footer .list {
    width: 45%;
    height: 30vh;
    
    display: flex;
        justify-content: start;
        
}

footer ul {
    list-style: none;
    font-weight: bold;   
}

footer .li {
    font-size: 0.8em;
    margin-top: 1em;
}
footer li {
    margin-top: 0.5em;
    color:rgba(0, 0, 0, 0.85);
    cursor: pointer;
}

footer form {
    
    width: 30%;
    height: 30vh;
    
    display: flex;
            align-items: start;
            justify-content: center;
            gap: 0.5em;
            
            flex-direction: column;

}

footer label {
    font-weight: bold;
}

footer .mail {
    border-bottom: 1px solid black;
    color:rgba(0, 0, 0, 0.85);

    
    padding: 2px;
}

footer input {
    border: solid white;  
    background-color: white;  
    font-family: 'din';
    font-size: 0.8em;
    font-weight: bolder;
    
}

footer .submit {cursor: pointer;}

footer input:focus-visible{
    outline: solid white;  
}
::-webkit-input-placeholder  {
    color: black;
    opacity: 1;
}

footer .sign {
    font-size: 0.65em;
    color:rgba(0, 0, 0, 0.85)
}

footer .second { 
    display: flex;
            align-items: center;
            justify-content: space-around;

        flex-wrap: wrap;
    
}

footer .logo {
    height: 15vh;
    

    cursor: pointer;
}

footer .social {
    
    display: flex;
    width: 15%;
    justify-content: space-evenly;
}

footer .rond {
    height: 5vh;
    cursor: pointer;
}


footer .foot {

    margin: 0 10em;
    display: flex;
            align-items: center;
            justify-content: space-between;

        flex-wrap: wrap;


    font-size: 0.8em;
    font-weight: light;
    color:rgba(0, 0, 0, 0.85)
}

footer .foot .right {
   
    width: 30vw;
    display: flex;
    
        
            align-items: center;
            justify-content: space-between;

        flex-wrap: wrap;
}

footer select {
    border: solid white;  
    background-color: white;  
    font-family: 'din';
    
}

footer select:focus-visible{
    outline: solid white;  
}