
/*SECTION */

section {
  
    margin:auto;

    margin-top: 5em;
    margin-bottom: 10em;

    display: flex;
            flex-direction: column;

            justify-content: center;
            align-items: center;
}

.titre {
    height: 10vh;
    
    margin: 0;
    margin-bottom: 1em;

    font-size: 3em;
    text-align: center;

    font-family: 'd-din';
    font-weight: bold;
}

.product, .product2 {width: 100%;}

.box {
    
    border-radius: 39px;
    
    
    margin: 0px;
    margin-bottom: 10em;


    background-color: rgba(255, 255, 255, 0.40);
    
    display: flex;
            justify-content: start;
            align-items: row;
        flex-wrap: wrap;
}

.box2 {
    
    border-radius: 39px;

    margin: auto;
    margin-bottom: 75px;


    background-color: rgba(255, 255, 255, 0.40);
    
    display: flex;
            justify-content: start;
            align-items: row;
        flex-wrap: wrap;
}

.pic {
    margin: auto;
    margin-right: 0;
    width: 55%;
}

.text, .text2, .text3 {margin: auto;}


.nom { margin-bottom: 2.5em; text-align: center;}

.detail {
    font-size: 1.2em; 
    font-weight: 100;
    text-align: justify;
}

.ulist {
    
    margin: 2em 0;
    font-size: 1.1em;
}
